.financing__top{
        /* ` */
    background: var(--blue-black);
    margin-bottom: 140px;
}
.financing__top img{
    /* max-width: 560px; */
    width: 100%;
}
.financing__top-content .about__paragraph{
    color: var(--white);
}
.financing__top-content .blue-title{
    color: var(--white);
}
.works__wrapper{
    margin-bottom: 140px;
}
.works__bottom{
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    gap: 40px;
    width: 100%;
}
.financing__card{
    background: var(--blue-black);
    border-radius: 30px 30px 30px 30px;
}
.financing__card img {
    max-width: 100%;
    object-fit: cover;
    min-height: 260px;
    border-radius: 30px 30px 0 0;
}
.financing__card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    padding: 40px;
}

.last-card{
    padding-bottom: 40px;
}

.financing__card-title{
    margin: 0 auto;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.choose__section{
    margin-bottom: 140px;
}
.choose__wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.call__wrap{
    display: flex;
    align-items: center;
    padding: 60px;
    border-radius: 30px;
    background: var(--blue-black);
    justify-content: space-between;
}
.call-title{
    font-size: 24px;
    color: var(--white);
    max-width: 577px;
}
.call-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    max-width: 208px;
    width: 100%;
    color: var(--white);
}
.call__btn{
    padding: 10px 40px;
    max-width: 208px;
    width: 100%;
    
}
.choose__wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.choose-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    width: 100%;
    gap: 30px;
    background: #F4F7FF;
    mix-blend-mode: multiply;
    border-radius: 30px;
}
.choose-btn{
    padding: 10px 40px;
    max-width: 149px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.choose-content:hover{
    transform: scale(1.1);
    transition: .3s ease;
}

@media  screen and (max-width:990px) {
    .choose__wrap {
        gap: 20px;
    }
    .call__wrap{
      flex-direction: column;
    align-items: flex-start;
    gap: 20px;  
    padding: 40px 20px;
    }
    .works__wrapper{
        margin-bottom: 70px;
    }
}
@media  screen and (max-width:870px) {
    .financing__card-content{
        padding: 40px 20px;
    }
    .call-content {
        max-width: 100%;
    }
}
@media  screen and (max-width:640px) {
    .works__bottom{
        grid-template-columns: 1fr;
    }
    .choose__wrap{
        grid-template-columns: 1fr;
    }
    .call__btn {
        max-width: 100%;
        
    }
    
}
