.repair__section{
    margin-bottom: 140px;
    
}
.repair__top-wrap{
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 40px;
    background: var(--blue-black);
}
.repair__top-img {
    width: 100%;
    padding: 60px 0;
    background: var(--blue);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.repair__top-img img{
    max-height: 279px;
}
.repair__top-title{
    color: var(--white);
}
.repair__content-wrap{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 80px 100px;
}
.orange-text{
    color: var(--orange);
}
.repair__top-paragraph{
    color: var(--white);
    font-size: 16px;
    line-height: normal;
}
.repair__top-paragraph:nth-of-type(1){
margin-bottom: 10px;
}
.repair__info-section{
    margin-bottom: 140px;
}
.repair__info-wrapper{
    grid-template-columns: .91fr .965fr;
    grid-template-areas: "img text"
}
.repair__info-wrapper img{
max-width: 100%;
grid-area: img;
}
.repair__info-title{
    margin-bottom: 30px;
}
.repair__info-text{
    grid-area: text;
}
.repair__info-wrapper:nth-of-type(2){
    grid-template-areas: "text img";
}
.repair__common-section{
    margin-bottom: 140px;
}
.common__cards-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    
}
.common__card{
    border-radius: 30px;
    background: var(--blue-black);
    color: var(--white);
    padding: 60px;
}
.common__card-item{
    font-size: 12px;
    line-height: normal;
}
.common__card-list{
    list-style-type: disc;
    list-style-position: outside;
    max-width: 100%;
    padding: 0 0 0 20px;
   
}
.blue-text{
    color: var(--blue);
    /* font-size:  12px; */
    font-weight: 700;
}
.repair .blue-title{
    color: var(--white);
}
.repair .repair__info-title{
    color: var(--blue-black);
}
.common__card .blue-title{
    margin-bottom: 22px;
}
.common__card-ph{
    margin-bottom: 30px;
}
.repair .models__wrapper .blue-title{
    color: var(--blue-black);
}
