
.map__section{
    margin-bottom: 140px;
}
.map__wrapper{
    display: flex;
    flex-direction: column;
    border-radius: 60px 60px 40px 40px;
    background: var(--blue-black);

}
.map__wrap iframe{
    border-radius: 60px;
}
.map__content-wrap{
    display: flex;
    flex-direction: column;
    padding: 80px 100px;
    gap: 30px;
    color: var(--white);
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.map__title{
    font-size: 32px;
    font-weight: 600;
}
.map__title span{
    color: var(--orange);
}
.map-btn{
    max-width: 156px;
    padding: 10px 40px;
}