@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Inter';
    src: url('../font/Inter/static/Inter-Regular.ttf');
}
:root {
  --blue: #1D49E3;
  --orange: #FFCE00;
  --white: #FFF;
  --blue-black: #040628;
  --white-blue: #EDF1FF;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
ul{
    list-style: none;
}
button{
    color: inherit;
    cursor: pointer;
    border: 1px solid transparent;
}
body{
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
h1{
    color: var(--white);
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}
h1 span{
    font-size: 42px;
    font-weight: 700;
    color: var(--orange);
}

.container{
    max-width: 1193px;
    padding: 0 20px;
    margin: 0 auto;
}
.btn{
    background: var(--blue);
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    border-radius: 500px;
    transition: all .3s;
}
.btn:hover{
    background: transparent;
    border: 1px solid var(--blue);
    color: var(--blue);
}
.header__mob,
.adaptive-nav{
    display: none;
}
.header{
    background: var(--blue);
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0 13px 0;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 420px;
    gap: 30px;
}
.nav__link{
    width: fit-content;
    color: var(--white);
}
.nav__link:hover{
    color: var(--orange);
}
.tel__header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 500px;
    background: var(--orange);
    color: var(--blue);
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
}
.page{
    color: #000;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 40px 0 40px 0;
}
.top__section{
    border-radius: 0px 0px 80px 80px;
    background: linear-gradient(0deg, #00066F 0%, #00066F 100%), lightgray 50% / cover no-repeat;
}
.top__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 148.29px 0 147.58px 0;
}
.top__text-wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.top__paragraph{
    font-size: 16px;
    color: var(--white);
    max-width: 278px;
    margin-bottom: 50px;
}
.top__btn{
    display: flex;
    padding: 15px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 269px;
    width: 100%;
}
.models__wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 60px;
    padding: 140px 0;
}
.blue-title{
    font-size: 32px;
    font-weight: 700;
    color: var(--blue-black);
}
.blue-title span{
    font-size: 32px;
    font-weight: 700;
    color: var(--blue);
}
.slide{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 65px 15px;
    max-width: 160px;
    max-height: 160px;
    background: #F4F7FF;
}
  .next,
  .prev{
    position: absolute;
    width: 50px;
    height: 50px;
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
  }
  .next{
    right: -25px;
  }
  .prev{
    left: -25px;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after{
    content: none;
  }
  .models__slider{
    max-width: 100%;
    position: relative;
  }
  .about{
    margin-bottom: 140px;
  }
.about-top{
    border-radius: 70px;
    background: var(--white-blue, #EDF1FF);
    display: grid;
    grid-template-columns: 1.035fr .965fr;
    margin-bottom: 40px;
}
.about__img-wrap{
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 161px 110px;
    border-radius: 70px;
    
}
.about__img-wrap img{
    width: 100%;
    height: 100%;
}
.about__text-wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 60px;
}
.about__title{
    text-transform: uppercase;
}
.about__paragraph{
    line-height: normal;
    color: var(--blue-black);
    margin-bottom: 20px;
}
.last{
    margin-bottom: 30px;
}
.about__btn{
    padding: 15px 141px;
    width: 100%;
}
.about-bottom{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 140px;
    gap: 40px;
}
.about__block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: var(--white-blue);
    padding: 40px;
    border-radius: 60px;
    width: 100%;
    height: 100%;
}
.about__block svg{
    margin-bottom: 70px;
}
.about__block-text{
    display: flex;
    flex-direction: column;
}
.count{
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
}
.about__advantages{
    display: flex;
    flex-direction: column;
}
.advantages__blocks{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.our{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding:15px 40px;
    width: 100%;
    border-radius: 500px;
    background: linear-gradient(90deg, #1D49E3 0%, #1DB3E3 100%);
    font-size: 36px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 60px;
    color: var(--white);
}
.our-center{
    justify-content: center;
}
.advantages__block{
    justify-content: space-between; 
    border-radius: 89.5px;
    background: var(--white-blue);
    display: grid;
    grid-template-columns: .75fr 1fr;
}
.advantages__block-text{
    display: flex;
    flex-direction: column;
    padding: 44px 0 44px 60px;
    width: 100%;
    color: var(--blue-black);
}
.advantages__block img{
     width: 100%; 
     max-height: 179px;
     object-fit: cover;
}
.advantages-title{
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}
.advantages-title span{
    color: var(--blue);
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}
.advantages-paragraph{
    font-size: 12px;
    font-weight: 400;
    max-width: 348px;
    line-height: normal;
}
.services{
    border-radius: 80px;
    background: #00066E;
    margin-bottom: 140px;
}
.services__wrapper{
    padding: 140px 0;
    display: grid;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.service .services__wrapper{
    padding: 0;
    margin-bottom: 140px;
}
.services__products-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;  
    width: 100%;
}
.products-card{
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    width: 100%;
}
.products-card:hover .product-text-wrap{
    background: var(--orange);
    transition: all .3s;
}
.product-img-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    background: var(--blue);
    width: 100%;
    height: 100%;
    border-radius: 40px 40px 0px 0px;
}
.product-img-wrap img{
    max-height: 180px;
    max-height: 180px;
}
.product-text-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 40px;
    border-radius:  0px 0px 40px 40px;
}
.home .product-text-wrap{
    background: var(--white);
    color: var(--blue-black);
}
.service .product-text-wrap{
    background: var(--blue-black);
    color: var(--white);
}

.product-name{
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.home .product-name{
    color: var(--blue-black);
}
.service .product-name{
    color: var(--white);

}
.arrows{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.services-btn{
    padding: 10px 40px;
    max-width: 208px;
    border: 1px solid transparent;
}
.project__swiper{
    margin-bottom: 140px;
    position: relative;
}
.swiper-wrapper{
    padding-bottom: 40px;
}
.slider__img{
    max-width: 260px;
    width: 100%;
}
.swiper__img{
    max-width: 100%;
}
.swiper-button-next2,
.swiper-button-prev2{
    top: 40%;
    z-index: 1;
}
.swiper-button-next2{
    right: -25px;
}
.swiper-pagination2.swiper-pagination2 {
    position: absolute;
    left: 45%;
    z-index: 1;
}
.swiper-pagination-bullet{
    background: var(--blue);
    opacity: 1;
    width: 15px;
    height: 15px;
}
.swiper-pagination-bullet-active{
    background: var(--orange);
}
.faq{
    margin-bottom: 140px;
}
.faq__tabs-wrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tab{
    position: relative;
}
.tab input[type="checkbox"]{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.tab label{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 25px 125px;
    width: 100%;
    background: var(--white-blue);
    border-radius: 500px;
    color: var(--blue-black);
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    position: relative;
}
.tab label::before{
    position: absolute;
    top: 14px;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    max-width: 65px;
    max-height: 44px;
    background: var(--blue);
    border-radius: 500px;
    color: var(--blue-black);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    color: var(--white);
}
.label1::before{
    content: "01";
}
.label2::before{
    content: "02";
}
.label3::before{
    content: "03";
}
.label4::before{
    content: "04";
}
.label5::before{
    content: "05";
}
.tab label::after{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    background: var(--blue);
    content: url('../images/arrow-down.svg');
    top: 14px;
    right: 40px;
    flex-wrap: wrap;
    transition: .3s ease;
}
.tab input[type="checkbox"] {
    display: none; 
}
.tab-content {
    max-height: 0;
    padding: 0 40px;
    color: var(--white);
    background: var(--blue);
    font-size: 12px;
    margin: 0 auto;
    overflow: hidden; 
    transition: all 0.3s ease;
}

.tab input[type="checkbox"]:checked ~ .tab-content {
    max-height: 100vh;
    padding: 65px 40px 20px 40px;
    border-radius: 25px 25px 30px 30px;
    margin-top: -50px;
}

.tab input[type="checkbox"]:checked + label::after {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}
.tab-content p{
    margin-bottom: 20px;
}
.book{
    border-radius: 80px 80px 0px 0px;
    background: #00066E;
    padding: 140px 0 140px 0;
}
.consultation__wrap{
    display: flex;
    padding: 20px 20px 20px 80px;
    justify-content: space-between;
    border-radius: 80px;
    margin-bottom: 40px;
    background: url('../images/consultation__bg-img.png') center center / cover no-repeat;
}
.conlutation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 295px;
    width: 100%;
    padding: 42px 0;
}
.book__info{
    color: var(--white);
}
.book__info-title{
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.book__info-span{
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}
.social__wrap{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 13.3px;
    max-width: 200px;
    width: 100%;
}
.social{
    display: flex;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.form__wrap{
    max-width: 460px;
    width: 100%;
}
.form{
    background: var(--white);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 70px;
}
#service{
    margin-bottom: 40px;
}
.book__btn{
    padding: 10px 40px;
    width: 100%;
    border: 1px solid transparent;
    cursor: pointer;
}
.form-group {
  position: relative;
  width: 100%;
}

.form-group input {
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
    display: flex;
    border: none;
    border-bottom: 1px solid #d7d7d7;
    width: 100%;
}
input::placeholder{
    border: none;
}
.form-group label {
  position: absolute;
  top: 10px;
  left: 15px;
  pointer-events: none; 
  transition: 0.2s ease-out; 
  color: var(--blue-black);
}

.form-group input:focus + label {
  top: -20px;
  font-size: 14px;
  color: var(--orange);
  background-color: #fff;
  padding: 0 5px;
}

#service {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
    border: none;
    border-bottom: 1px solid #d7d7d7;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
     -moz-appearance: none; 
    position: relative; 
    transition: all .3s ease;
  }
  .select-wrap{
    position: relative;
  }
  .select-wrap::after{
            content: url(../images/select-arrow.svg);
            position: absolute;
            top: 10px;
            width: 20px;
            height: 20px;
            right: 40px;
            bottom: 0;
            pointer-events: none;
            -webkit-transition: all .27s ease-in-out;
            -o-transition: all .27s ease-in-out;
            transition: all .27s ease-in-out;
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  select::-ms-expand {
    display: none;
  }
  #service:focus {
    outline: none;
    border-color: var(--white-blue); 
  }
   #service:focus ~ .select-wrap::after {
    -webkit-transform: rotate(1800deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
  }
select option{
    display: block;
    width: 100%;
    background: #00066F;
    color: #d7d7d7;
    border: 1px solid transparent;
    border-radius: 5%;
  }
  .contact__wrap{
   
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .contact{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: var(--blue);
    color: var(--white);
    width: 100%;
    border-radius: 38px;
    padding: 40px;
    gap: 40px;
    word-break: break-all;
  }
  .contact__text{
    max-width: 189px;
    width: 100%;
  }
  .navigation{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    
  }
  .navigation__name{
    font-size: 20px;
    font-weight: 500;
  }
  .navigation__img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  .local{
    background: var(--white);
  }
.footer{
    background: var(--blue);
    color: var(--white);
    
}
.footer__wrap{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-bottom: 140px;
    border-bottom: 1px solid #EDF1FF;
    width: 100%;
    padding: 140px 0 140px 0;
}
.logo__foo{
    display: flex;
    align-items: center;
    max-width: 260px;
    width: 100%;
}
.footer__content{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 60px;
    width: 100%;
}

.foo-nav {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.foo-service{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: var(--white-blue);
    line-height: normal;
}
.service__foo-link:hover{
color: var(--orange);
}

.foo-nav .nav__link:nth-child(1),
.foo-service .service__item:nth-child(1) {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 600;
}
.foo__contacts-wrap{
    display: flex;
    flex-direction: column;
}
.foo-phone{
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}
.foo-local{
    font-size: 16px;
    line-height: normal;
    margin-bottom: 30px;
}
.foo-contacts{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    
}
.foo-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background: var(--white, #FFF);
}
.foo-contact:hover{
    background: var(--orange);
    transition: all .3s;
  }
.footer__copy-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
}
.project__page-img-wrapper{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 140px;
}
.project__page-btn-wrap{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 60px;
}
.project__page-btn{
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 500px;
    background: var(--blue-black);
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    transition: all .3s ease;
}
.project__page-btn:hover{
    background: var(--white);
    color: var(--blue-black);
    padding: 15px 30px;
    border: 1px solid var(--blue-black);
}

.map__section{
    margin-bottom: 140px;
}
.map__wrapper{
    display: flex;
    flex-direction: column;
    border-radius: 60px 60px 40px 40px;
    background: var(--blue-black);

}
.map__wrap iframe{
    border-radius: 60px;
    max-width: 100%;
    width: 100%;
}

.map__content-wrap{
    display: flex;
    flex-direction: column;
    padding: 80px 100px;
    gap: 30px;
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.map__title{
    font-size: 32px;
    font-weight: 600;
}
.map__title span{
    color: var(--orange);
}
.map-btn{
    max-width: 156px;
    padding: 10px 40px;
}

@media screen and (max-width:1210px) {
    .next,
    .prev{
        display: none;
      }
      .swiper-button-next2,
      .swiper-button-prev2{
        display: none;
      }

}
@media screen and (max-width:1190px) {
    .services__products-wrap {
        gap: 40px;
        justify-content: center;
    }
   
}
@media screen and (max-width:990px) {
    .top__wrapper {
        justify-content: center;
        padding: 277px 84px 273px 84px;
    }
    .top__text-wrap {
        max-width: 600px;
    }
    .top__img-wrap{
        display: none;
    }
   .about-top{
   grid-template-columns: 1fr;
   }
   .about__img-wrap {
    width: 100%;
}
.about__text-wrap {
   max-width: 100%;
   padding: 40px 20px;
   align-items: center;
}

.about__title {
    margin-bottom: 30px;
}
.about__btn {
    max-width: 440px;
    width: 100%;
}
.services__products-wrap {
    gap: 20px;
    
}
.about__paragraph{
    text-align: start;
    width: 100%;
}
.about-bottom{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.header__wrapper{
    display: none;
}
.logo__adaptive{
    max-width: 200px;
}
.header__mob{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 15px 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    background: #1D49E3;
}
.adaptive-nav .nav__link{
    font-size: 40px;
}
.adaptive-nav .tel__header{
    margin-top: 100px;
}
.btn1{
    transition-duration: 0.5s;
    width: 40px;
    height: 40px;
    position: relative;
}

.adaptive-nav {
    position: fixed;
    left: 0;
    top: 84px;
        width: 100vw;
        height: 100%;
        background: #1D49E3;
        transform: translateX(-100%);
        transition: transform 0.5s; 
        flex-direction: column;
        padding: 10px 0;
        gap: 10px;
        justify-content: center;
        align-items: center;
        z-index: 2;
        display: flex;
        
}
.open .adaptive-nav {
    transform: translateX(0);
}

.icon{
    position: absolute;
    width: 15.67px;
    height: 3px;
    background-color: var(--white);
    top: 0;
}
.icon-left{
    transition-duration: 0.5s;
    position: absolute;
    width: 15.67px;
    height: 3px;
    top: 15px;
    background-color: var(--white);
    left: 0px;
}

.icon-right{
    transition-duration: 0.5s;
    position: absolute;
    width: 15.67px;
    height: 3px;
    top: 15px;
    background-color: var(--white);
    left: 15.67px;
}

.icon-right::before{
    transition-duration: 0.5s;
    position: absolute;
    width: 15.67px;
    height: 3px;
    background-color: var(--white);
    content: "";
    top: -10px;
}
.icon-left::before{
    transition-duration: 0.5s;
    position: absolute;
    width: 15.67px;
    height: 3px;
    background-color: var(--white);
    content: "";
    top: -10px;
}

.icon-right::after{
    transition-duration: 0.5s;
    position: absolute;
    width: 15.67px;
    height: 3px;
    background-color: var(--white);
    content: "";
    top: 10px;
}
.icon-left::after{
        transition-duration: 0.5s;
        position: absolute;
        width: 15.67px;
        height: 3px;
        background-color: var(--white);
        content: "";
        top: 10px;
}
.open .icon-left,
.open .icon-right{
    transition-duration: 0.5s;
    background: transparent;
}
.open .icon-left::before {
    transform: rotateZ(46deg) scaleX(1.4) translate(5px, -2px);
}
.open .icon-left::after {
    transform: rotateZ(-46deg) scaleX(1.4) translate(4px, 4px);
}
.open .icon-right::before {
    transform: rotateZ(-46deg) scaleX(1.4) translate(0px, 6px);
}
.open .icon-right::after {
    transform: rotateZ(46deg) scaleX(1.4) translate(2px, -4px);
}
.advantages__block-text {
    
    padding: 51px 20px 51px 40px;
    width: 100%;
    color: var(--blue-black);
}
.advantages__block{
    grid-template-columns: 1.8fr .65fr;
}
.advantages__block img{
    max-width: 229px;
    height: 100%;
    object-fit: cover;
    border-radius: 89px;
}
.advantages-paragraph{
    max-width: 100%;
}
.consultation__wrap{
    flex-direction: column;
    padding: 20px;
}
.conlutation{
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}
.book__info{
    text-align: center;
}

.form__wrap{
    max-width: 100%;
}
.footer__wrap{
    flex-direction: column;
    gap: 60px;
    padding: 100px 27px;
    align-items: center;
}
.footer__content{
    justify-content: space-between;
}
.page {
    margin: 124px 0 40px 0;
}
}
@media screen and (max-width:870px) {
    .slider__img{
        max-width: 229px;
    }
    .slider__img{
        max-width: 229px;
    }
    .contact__wrap {
        gap: 20px;
    }
    .contact{
        padding: 40px 20px;
    }
    .swiper-pagination2.swiper-pagination2 {
        left: 30%;
    }
    .service .product-name{
    color: var(--white);
    max-width: 216px;
    width: 100%;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;

}
.project__page-img-wrapper{
    
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 70px;
}
.project__page-img-wrap:nth-last-of-type(1),
.project__page-img-wrap:nth-last-of-type(2){
    display:none;
}
.map__content-wrap {
    padding: 40px 20px;
  align-items: center;
}
}
@media screen and (max-width:640px) {
    .services__products-wrap{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer__content{
        flex-direction: column;
    }
    .about-bottom{
        grid-template-columns: repeat(1, 1fr);
    }
    .advantages__block {
        grid-template-columns: repeat(1, 1fr);
    }
    .advantages__block img{
        display: none;
    }
    .tab label {
        font-size: 12px;
    }
    .products-card {
        max-height: 387px;
        min-height: 387px; 
    }
    .contact__wrap{
        grid-template-columns: 1fr;
    }
    .contact__text {
        max-width: 100%;
    }
    h1{
        font-size: 30px;
    }
    h1 span{
        font-size: 30px;
    }
    h2{
        font-size: 25px;
    }
    h2 span{
        font-size: 25px;
    }
    .map__title {
        font-size: 25px;
    }
    .map__title span{
        font-size: 25px;
    }
    .map-paragraph{
        font-size: 12px;
    }
    .top__section{
        border-radius: 0px 0px 40px 40px;
    }
    .top__wrapper {
        padding: 196px 0;
    }
    .about__title {
        font-size: 25px;
    }
    .about__title span{
        font-size: 25px;
    }
    .advantages__block{
        border-radius: 40px;
    }
    .models__wrapper{
        padding: 70px 0;
    }
    .services {
        margin-bottom: 140px;
    }
    .book{
        padding: 70px 0;
    }
    .our{
        font-size: 25px;
    }
    .tab label::before {
        max-width: 41px;
        max-height: 39px;
        left: 20px;
        padding: 10px;
    }
    .tab label::after {
        right: 20px;
    }
    .tab label {
       width: 100%;
       padding: 25px 83px;
       min-height: 89px;
    }
    .services {
        margin-bottom: 70px;
        border-radius: 40px;
    }
    .services__wrapper {
        padding: 70px 0;
    }
    .faq {
        margin-bottom: 70px;
    }
    .open .adaptive-nav .nav__link{
        font-size: 30px;
    }
    .top__btn{
        max-width: 100%;
    }
    .about__img-wrap {
        padding: 75px 48px;
    }
    .form{
        padding: 40px 25px;
        border-radius: 40px;
    }
    .consultation__wrap{
        border-radius: 40px;
    }
    .about__btn {
        padding: 15px 40px;

    }
    .footer__wrap {
        padding: 100px 0; 
    }
    .foo__contacts-wrap,
    .foo-nav,
    .foo-service{
        align-items: center;
    }
    .project__page-img-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    .project__page-img-wrap:nth-last-of-type(1),
    .project__page-img-wrap:nth-last-of-type(2),
    .project__page-img-wrap:nth-last-of-type(3),
    .project__page-img-wrap:nth-last-of-type(4){
        display:none;
    }
    .project__page-btn-wrap {
        gap: 10px;
        flex-wrap: wrap;
    }
}
